@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom, rgb(177, 135, 255), rgb(34, 0, 128));
    font-family: Arial, Helvetica, sans-serif;
    height: 95.5vh;
}

h1 {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404);
}

footer {
    color: white;
    padding-top: 30px;
    text-align: center;
}